.pageWarp{
    /*设置容器填充整个屏幕*/
    display: flex;
    min-height: 100vh;
    /*设置主轴方向竖直*/
    flex-direction: column;
}
#logo{
    color: #ffff;
    text-align: center;
    margin-bottom: 0;
}
.warp{
    max-width: 980px;
    /*!important 提高样式的优先级*/
    margin: 0 auto !important;
}
.headerDiveider{
    height: 44px !important;
    margin: 10px 0 !important;
    float: left !important;
}
#nav{
    margin-left: 40px;
    float: left;
    /*清空背景色*/
    background: none;
    /*清空下方的线*/
    border: none;
    /*设置行高为64*/
    line-height: 62px;
}
#nav a{
    color: #ffff;
}
#nav .ant-menu-item-selected a{
    color: #1890ff;
}
.xsWarp{
    /*设置绝对定位*/
    position:absolute;
    right: 0px;
    top: 0px;
    width: auto;
}
.footer{
    text-align: center;
}
.main{
    flex: 1;
}
.main .warp{
    /*主体左侧菜单样式*/
    border: 1px solid #ccc;
    border-top: none;
    /*超出部分隐藏*/
    overflow: hidden;
}
#indexMenu li{
    margin-right: -1px;
    /*清除动画效果*/
    transition: none;
    text-align: center;
    border-right: 3px solid rgba(0,0,0,0);
}
/**li:hover 表示鼠标事件的监听*/
#indexMenu li:hover,
#indexMenu .ant-menu-item-selected{
    background: #e6f7ff;
    border-right-color:  #1890ff;
}
#indexMenu{
    border-right: none;
}
/*
#indexList{
    border-left: 1px solid #ccc;
}*/
.indexSider{
    border-right: 1px solid #ccc;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}
/*小屏菜单样式*/
#indexXSMenu{
    display: flex;
}
#indexXSMenu li{
    flex: 1;
    text-align: center;
}
#indexList{
    padding: 0 10px;
}
#indexList p{
    margin: 0px;
}
/*小屏菜单样式结束*/
/*@media screen and 对屏幕宽度进行监听
@media all and (max-width: 767px) {
    #indexMenu {
        display: flex;
        border-bottom: 1px solid #ccc;
        flex: 1;    }
    #indexMenu li{
        flex: 1;
        margin: 0 0 -1px 0;
        border: none;
        border-bottom: 3px solid rgba(0,0,0,0);
    }
    /**li:hover 表示鼠标事件的监听
    #indexMenu li:hover,
    #indexMenu .ant-menu-item-selected{
        border-bottom-color:  #1890ff;
    }
    #indexList{
        border-left: none;
    }
}
*/